.home{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}
.informaçõs-iniciais{
    z-index: 200;
    margin-right: 982px;
    margin-left: 308px;
}
.titulo{
    font-size: 6rem;
    color: #fff;
}
.descrição{
    font-family: 'Baloo 2', cursive;
    font-size: 1.8rem;
}
.token{
    font-family: 'Baloo 2', cursive;
}
.imagens{
    position: absolute;
    z-index: -1;
    margin-left: 476px;
}
.meta-1{
    box-shadow: 25px 25px 80px 6px rgba(107, 7, 198, 0.2);
        border-radius: 60px 0px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
}
.segundo-plano{
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 325px;
    top: -150px;
    z-index: -2;
}

